<nav>
  {% set navPages = collections.post | eleventyNavigation %}
  {% set postslist = collections.post %}
  {{ postList | log }}

  <ul>
  {%- for entry in navPages %}
    {{ entry | log }}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
