---
layout: layouts/base.njk
section: classroom
---

{{ layoutContent | safe }}

<div style="display:flex">
    <div style="display:block">
        <h2>Grades</h2>
        {% set list = collections.grade %}
        {% include "components/getlist.njk" %}
    </div>

    <div style="display:block">
        <h2>Subjects</h2>
        {% set list = collections.subject %}
        {% include "components/getlist.njk" %}
    </div>
</div>