---
layout: layouts/base.njk
section: classroom
---

{{ layoutContent | safe }}

<h2>Grades</h2>

{% set gradelist = collections.grade %}

{{ gradelist.url | safe | log }}

{% include "components/gradeslist.njk" %}
 