---
layout: layouts/base.njk
---

{{ layoutContent | safe }}

{% if grade %}
<p>Subjects in grade {{ grade | safe }}.</p>
{% endif %}

{% set gradelist = collections.subject %}

{{ gradeList.title }}

{% include "components/gradeslist.njk" %}