---
layout: layouts/base.njk
eleventyComputed:
    eleventyNavigation:
        key: "{{ title }}"
        parent: "{{ subject }}"
---

{% for each in section %}
    {% if img %}
        <img src="{{ each.image }}">
    {% endif %}
    {{ each.text | md | safe }}
{% endfor %}

Grade: {{ grade }}

{{ layoutContent | safe }}

{% set navPages = collections.lessons | eleventyNavigationBreadcrumb %}
{{ navPages | dump | safe }}