---
layout: layouts/base.njk
eleventyComputed:
    tags: ["{{ grade }}", "{{ subject }}"]
    eleventyNavigation:
        key: "{{ title }}"
        parent: "{{ parent }}"
---

{% for each in section %}
    <img src={{ each.image }}>
    {{ each.text | md | safe }}
{% endfor %}

Grade: {{ grade }}

{{ layoutContent | safe }}

{% set navPages = collections.lessons | eleventyNavigationBreadcrumb %}
{{ navPages | dump | safe }}